{% block footer %}
    <footer class="page-footer brown lighten-5 footer">
        <div class="">
            <div class="social-bloc ">
                <a href="https://github.com/gianni-n"><img class="social" src="{{ asset('pictures/github.png') }}" alt=""></a>
                <a href="https://twitter.com/gianninapolipro"><img class="social" src="{{ asset('pictures/twitter.png') }}" alt=""></a>
                <a href="https://www.linkedin.com/in/gianninapoli/"><img class="social" src="{{ asset('pictures/linkedin.png') }}" alt=""></a>
            </div>
            <p class="copyright"> &#9400; Copyright {{ "now"|date("Y") }}</p>
        </div>
    </footer>
{% endblock %}