{% block footer %}
    <footer class="page-footer brown lighten-5 footer">
        <div class="">
            <div class="social-bloc ">
                <a href="https://github.com/gianni-n" target="_blank"><img class="social" src="{{ asset('pictures/github.png') }}" alt="Liens vers mon profile github" title="Liens vers mon profile github"></a>
                <a href="https://twitter.com/gianninapolipro" target="_blank"><img class="social" src="{{ asset('pictures/twitter.png') }}" alt="Lien vers mon profile Twitter" title="Liens vers mon profile twitter"></a>
                <a href="https://www.linkedin.com/in/gianninapoli/" target="_blank"><img class="social" src="{{ asset('pictures/linkedin.png') }}" alt="Liens vers mon profile Linkedin" title="Liens vers mon profile linkedin"></a>
            </div>
            <p class="copyright"> &#9400; Copyright {{ "now"|date("Y") }}</p>
        </div>
    </footer>
{% endblock %}